# **TALLER FINAL DE** **PYTHON**

# **AUTORES:**


*   Stefania Coronell

# Carga de datos

In [ ]:
#Online Retail Data Set
! wget https://www.dropbox.com/s/yqfxvfz2y2e74il/Online%20Retail.xlsx

--2020-09-30 12:52:43--  https://www.dropbox.com/s/yqfxvfz2y2e74il/Online%20Retail.xlsx
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.1, 2620:100:601d:1::a27d:501
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/yqfxvfz2y2e74il/Online%20Retail.xlsx [following]
--2020-09-30 12:52:43--  https://www.dropbox.com/s/raw/yqfxvfz2y2e74il/Online%20Retail.xlsx
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucd85c288b33368c458041308454.dl.dropboxusercontent.com/cd/0/inline/BAWqATBLNGPJzrXOXgfJLyfDzbWCwubxCkKOOg9Q8SQ-RQZYJ56-1UJUYIyCOVNQrG_Nd27I5Q3Dc-IaHfB9WliyieJL4wJ7ud78ETKdW0AkiPXTqHHxm7m81WM_VPQVwAk/file# [following]
--2020-09-30 12:52:43--  https://ucd85c288b33368c458041308454.dl.dropboxusercontent.com/cd/0/inline/BAWqATBLNGPJzrXOXgfJLyfDzbWCwubxCkKOOg9Q8SQ-RQZYJ56-1UJUYIyCOVNQrG_Nd27I5Q3Dc-IaHfB9WliyieJL4wJ7ud78ETKdW0AkiPXTqHHxm7m81WM_VPQVwAk/file
Resolving ucd85c288b33368c458041308454.dl.dropboxusercontent.com (ucd85c288b33368c458041308454.dl.dropboxusercontent.com)... 162.125.9.15, 2620:100:601f:15::a27d:90f
Connecting to ucd85c288b33368c458041308454.dl.dropboxusercontent.com (ucd85c288b33368c458041308454.dl.dropboxusercontent.com)|162.125.9.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BAU9W9s0VcME8eAUA6DILYfubOjdz7k8UKWp-A_vAVe5HdtIBZAT00lcBAvYzdIh5ovUcBdfjZvQeiLS1YQug3K93lxY-YVGPSoEq00AbdzJlYjz36OXybVJSrYCRwDoasBCZ-BL0hvw1PDsxFLFcmtlGmlIl0kjTY0ygkQL0O2eIQjeQ4Bg6wj-sp3j0zyemr1QPLu2zGEXRN8gIIlJs2PIMXTrSLmIlIdmW0xUZPockUqmA1WTDx897O4s0BARWPfBuT7F4NBG1vM9r2vVEIZGGwDC06_YgEja4qXHoubu2E5GYbNtlFl0_nOOIKjtqseqxVEsAFyFKRgkDqWHOcmAPaOvDa_zBRLOCLtQxj-Fnw/file [following]
--2020-09-30 12:52:44--  https://ucd85c288b33368c458041308454.dl.dropboxusercontent.com/cd/0/inline2/BAU9W9s0VcME8eAUA6DILYfubOjdz7k8UKWp-A_vAVe5HdtIBZAT00lcBAvYzdIh5ovUcBdfjZvQeiLS1YQug3K93lxY-YVGPSoEq00AbdzJlYjz36OXybVJSrYCRwDoasBCZ-BL0hvw1PDsxFLFcmtlGmlIl0kjTY0ygkQL0O2eIQjeQ4Bg6wj-sp3j0zyemr1QPLu2zGEXRN8gIIlJs2PIMXTrSLmIlIdmW0xUZPockUqmA1WTDx897O4s0BARWPfBuT7F4NBG1vM9r2vVEIZGGwDC06_YgEja4qXHoubu2E5GYbNtlFl0_nOOIKjtqseqxVEsAFyFKRgkDqWHOcmAPaOvDa_zBRLOCLtQxj-Fnw/file
Reusing existing connection to ucd85c288b33368c458041308454.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 23715344 (23M) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘Online Retail.xlsx’

Online Retail.xlsx  100%[===================>]  22.62M  76.2MB/s    in 0.3s

2020-09-30 12:52:45 (76.2 MB/s) - ‘Online Retail.xlsx’ saved [23715344/23715344]

# Limpieza de datos

In [ ]:
import numpy as np
import pandas as pd
#df_retail = pd.read_excel('Online Retail.xlsx',parse_dates=True)
df_retail = pd.read_excel('Online Retail.xlsx')
df_retail = df_retail.dropna()
df_retail = df_retail.loc[df_retail['Quantity'] > 0]
df_retail['Año-Mes']=df_retail['InvoiceDate'].dt.to_period('M')
df_retail['Año-Trimestre']=df_retail['InvoiceDate'].dt.year.astype(str) + '-Q' + df_retail['InvoiceDate'].dt.quarter.astype(str)
df_retail['Total'] = df_retail['Quantity'] * df_retail['UnitPrice']
df_retail

       InvoiceNo StockCode  ... Año-Trimestre  Total
0         536365    85123A  ...       2010-Q4  15.30
1         536365     71053  ...       2010-Q4  20.34
2         536365    84406B  ...       2010-Q4  22.00
3         536365    84029G  ...       2010-Q4  20.34
4         536365    84029E  ...       2010-Q4  20.34
...          ...       ...  ...           ...    ...
541904    581587     22613  ...       2011-Q4  10.20
541905    581587     22899  ...       2011-Q4  12.60
541906    581587     23254  ...       2011-Q4  16.60
541907    581587     23255  ...       2011-Q4  16.60
541908    581587     22138  ...       2011-Q4  14.85

[397924 rows x 11 columns]

# Desarrollo

1. ¿Cuál es el producto más vendido por mes?

In [ ]:
df_producto = df_retail.groupby(['Año-Mes','Description'])['Quantity'].sum().reset_index()
df_producto.sort_values(by=['Año-Mes','Quantity'], ascending=False, inplace=True)

df_producto.loc[df_producto.groupby(["Año-Mes"])["Quantity"].idxmax()]

       Año-Mes                        Description  Quantity
2383   2010-12  WORLD WAR 2 GLIDERS ASSTD DESIGNS      5139
3526   2011-01     MEDIUM CERAMIC TOP STORAGE JAR     74215
5147   2011-02              EMPIRE DESIGN ROSETTE      3986
7695   2011-03            JUMBO BAG RED RETROSPOT      4924
11070  2011-04  WORLD WAR 2 GLIDERS ASSTD DESIGNS     10224
13054  2011-05               SMALL POPCORN HOLDER      6738
14440  2011-06            JUMBO BAG RED RETROSPOT      3529
16588  2011-07    GIRLS ALPHABET IRON ON PATCHES       4896
18249  2011-08      ASSORTED COLOUR BIRD ORNAMENT      6425
21663  2011-09            JUMBO BAG RED RETROSPOT      4177
25703  2011-10  WORLD WAR 2 GLIDERS ASSTD DESIGNS      8174
25940  2011-11     ASSTD DESIGN 3D PAPER STICKERS     12551
29751  2011-12        PAPER CRAFT , LITTLE BIRDIE     80995

2. ¿Cuál es el total de ingresos por concepto de ventas de cada trimestre?

In [ ]:

# df_ingresos = df_retail.groupby(by=['Año-Trimestre','Total']).sum()
# df_ingresos.sort_values(by=['Total'], ascending= False)

pd.pivot_table(df_retail,index=['Año-Trimestre'],values=['Total'],aggfunc=[sum])

                       sum
                     Total
Año-Trimestre
2010-Q4         572713.890
2011-Q1        1612083.150
2011-Q2        1809008.611
2011-Q3        2198273.293
2011-Q4        2719328.960

3. ¿Cuál es el cliente que más dinero ha gastado en una sola compra?

In [ ]:
#Se agrupa los valores por el cliente y el código de la factura
df_cliente = df_retail.groupby(['CustomerID','InvoiceNo'])['Total'].sum().reset_index()

# Se ordena la base de datos para obtener el cliente en cuya compra ha gastado más dinero
df_cliente.sort_values(by=['Total'], ascending=False, inplace=True)
df_retail[df_retail["Total"]==168469.60]

       InvoiceNo StockCode                  Description  ...  Year Month    Fecha
540421    581483     23843  PAPER CRAFT , LITTLE BIRDIE  ...  2011    12  2011-12

[1 rows x 14 columns]

4. ¿Cuál es el producto más barato de toda la tienda?

In [ ]:
mas_economicos=pd.pivot_table(df_retail,index=["Description"],values=["UnitPrice"])
mas_barato = mas_economicos.sort_values(by="UnitPrice", ascending=True).head(1)
mas_barato

                            UnitPrice
Description
PADS TO MATCH ALL CUSHIONS    0.00075

5. ¿Cuál es el promedio de ingresos por concepto de ventas mensual?

In [ ]:
df_ventasprom_mes=df_retail.groupby('Año-Mes')['Total'].mean()
df_ventasprom_mes

Año-Mes
2010-12    21.892733
2011-01    26.820132
2011-02    22.437643
2011-03    21.911939
2011-04    20.720737
2011-05    23.959980
2011-06    24.322740
2011-07    22.368920
2011-08    23.890123
2011-09    23.803107
2011-10    20.972189
2011-11    18.000114
2011-12    29.946416
Freq: M, Name: Total, dtype: float64

6. ¿Cuál es el producto más vendido por trimestre por factura?

In [ ]:
rec_mayor = df_retail.groupby(['Año-Trimestre','InvoiceNo'])[['Total']].sum()

rec_mayor= rec_mayor.sort_values(by=['Año-Trimestre','Total'], ascending=False)

rec_mayor.loc[rec_mayor.groupby(["Año-Trimestre"])["Total"].idxmax()]

                             Total
Año-Trimestre InvoiceNo
2010-Q4       537659      15885.49
2011-Q1       541431      77183.60
2011-Q2       556444      38970.00
2011-Q3       567423      31698.16
2011-Q4       581483     168469.60

7. ¿Cuál es el cliente que mas compras ha realizado en el historico de la tienda?

In [ ]:

df_factura = df_retail[['InvoiceNo','CustomerID']].drop_duplicates()
df_cliente=df_factura.groupby(['CustomerID'],as_index=False).agg({"InvoiceNo":"count"})
df_cliente = df_cliente.sort_values('InvoiceNo', ascending = False)
df_cliente.head(1)

     CustomerID  InvoiceNo
326     12748.0        210